@model DoctorReservation.Models.Doctor

@{
    ViewData["Title"] = "Docror Profile";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Doctor Profile</h2>

    <div class="card shadow-lg p-4">
        <div class="row">
            <div class="col-md-4 text-center">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="@Model.ImagePath" alt="Doctor Image" class="img-fluid rounded" style="max-height: 250px;" />
                }
                else
                {
                    <p>No available image</p>
                }
            </div>

            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Model.FirstName @Model.LastName</dd>

                    <dt class="col-sm-4">Mail :</dt>
                    <dd class="col-sm-8">@Model.Email</dd>

                    <dt class="col-sm-4">Mobile :</dt>
                    <dd class="col-sm-8">@Model.Mobile</dd>

                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">@Model.City</dd>

                    <dt class="col-sm-4">Location:</dt>
                    <dd class="col-sm-8">@Model.Location</dd>

                    <dt class="col-sm-4">Specialization:</dt>
                    <dd class="col-sm-8">@Model.specialization</dd>

                    <dt class="col-sm-4">Fee:</dt>
                    <dd class="col-sm-8">@Model.Fees جنيه</dd>

                    <dt class="col-sm-4">Discribtion:</dt>
                    <dd class="col-sm-8">@Model.Description</dd>

                    <dt class="col-sm-4">Certificate:</dt>
                    <dd class="col-sm-8">
                        @if (!string.IsNullOrEmpty(Model.CertificatePath))
                        {
                             <a href="@Model.CertificatePath" class="btn btn-sm btn-outline-primary" target="_blank">عرض الشهادة</a>
                        }
                        else
                        {
                            <span>No available Certificate</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>

        <div class="mt-4 text-end">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Profile Edit </a>
        </div>
    </div>
</div>
